.Arrows-carousel{
    flex-direction: row;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(222, 71, 212, 0.644);
    width: 50%;
    height: 3rem;
    border-radius: 2em;
    cursor: pointer;
    font: 2rem;
}