*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.error-in-404{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  opacity: 0.2;
  border-radius: 1rem;
}

.container-404{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  min-height: 95vh;
}
.mainbox {
  display: flex;
  background-color: #1085a91b;
  min-height: 94vh;
  width: 34rem;
  position: relative;
  border-radius: 2em;
  box-shadow: rgb(14 4 45 / 72%) 0px 5px 15px;
  margin: 1rem;
  border:solid 4px black ;
  border-radius: 1rem;
}

    .err {
      color: #ff0000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 10rem;
      position:absolute;
      left: 13%;
      top: 8%;
      text-shadow: 1px 4px 2px rgba(24,129,195,0.64);
    }

  .far {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    font-size: 10rem;
    left: 43%;
    top: 8%;
    color: #ff0000;
    text-shadow: 1px 4px 2px rgba(24,129,195,0.64);
  }

  .err2 {
      color: #ff0000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 10rem;
      position:absolute;
      left: 73%;
      top: 8%;
      text-shadow: 1px 4px 2px rgba(24,129,195,0.64);
    }

  .msg {
    color: #000000;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Nunito Sans', sans-serif;
      position:absolute;
      left: 2%;
      top: 45%;
      width: 95%;
      font-weight: 800;
}
.msg1 {
    display: flex;
    justify-content: center;
    color: #000000;
      text-align: center;
      font-size: 1.9rem;
      font-family: 'Nunito Sans', sans-serif;
      position:absolute;
      left: 2%;
      top: 77%;
      width: 95%;
    padding: 2px;
    
}
.Home-btn-itinerary {
    background-image: url(https:/S/th.bing.com/th/id/OIP.irpnzdCyON6YPSq66GyAAwHaHa?pid=ImgDet&rs=1);
    background-size:     cover;  
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .5s;
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 5px solid #ffffff6f;
    width: 60%;
    border-radius: 1em;
    text-decoration: none;

  }

  .Home-btn-itinerary:hover {
    background-color: rgba(255, 254, 253, 0.467);
    color: rgb(0, 0, 0);    
    transform: scale(110%);
  }

.Home-btn {
  background-image: url(https://th.bing.com/th/id/OIP.irpnzdCyON6YPSq66GyAAwHaHa?pid=ImgDet&rs=1);
    background-size:     cover;  
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .5s;
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 5px solid #ffffff6f;
    width: 80%;
    border-radius: 1em;
    font-size: 3rem;
    text-decoration: none;
  }

  .Home-btn:hover {
    background-color: rgba(255, 254, 253, 0.467);
    text-decoration: none;
    color: black;
    font-weight: 60;
  }

  @media screen and (min-width: 300px){
    .container-404{
            font-size: 1rem;
            width: 90%;
        height: 90%;
          }
         .Home-btn{
            width: 15rem;
            margin-top: 28%;
            
        }
      }