*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
    text-decoration: underline;
}
.contentCity{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 192, 241, 0.37);
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 4px 4px 2px rgb(0,0,0);
    opacity: .9;
}
form{
    display: flex;
    flex-direction: column;
    width: 20rem;
}
label{
    text-align: center;
    font-size: 1.3rem;
    margin: .4rem;
    color: black;
    text-decoration: underline;
    font-weight: 800;
}
input{
    height: 1.5rem;
    border-radius: .7rem;
    text-align: center;
    margin: .5rem;
    box-shadow: 3px 4px 4px black;
}
.singin-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.98);
    background-color: rgba(230, 26, 179, 0.311);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    border-radius: 1em;
    margin-right: 1%;
}
.titleProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 2%;
    height: 4rem;
    bottom: 3px;
    border-radius: 1rem;
    border: solid 10px rgba(0, 0, 0, 0.098);
    box-shadow: 4px 4px 2px rgb(0,0,0);
    background-color: rgba(255, 192, 241, 0.37);
    opacity: .9;
}
.contentProfile{
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 2%;
    height: 4rem;
    display: flex;
    bottom: 3px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 192, 241, 0.37);
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: solid 10px rgba(0, 0, 0, 0.098);
    box-shadow: 4px 4px 2px rgb(0,0,0);
    opacity: .9;
}
.contain-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botonRegister{
    text-align: center;
}
.botonRegister{
    font-weight: 700;
    font-size: 1.3rem;
    height: 3.3rem;
    width: 6.5rem;
    border-radius: .5rem;
    margin: .5rem;
    background-image: url(https://th.bing.com/th/id/OIP.irpnzdCyON6YPSq66GyAAwHaHa?pid=ImgDet&rs=1);
    background-size:     cover;  
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
}

.botonRegister:hover{
    color: rgb(0, 0, 0);
    width: 7.3rem;
    text-decoration: underline;
    font-size: 1.5rem;
}
@media screen and (max-width: 768px){
    .content-form{
        width: 18rem;
    }
    form{
        width: 17rem;
    }
    input{
        width: 15rem;
    }
}