.generalContainForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpaperaccess.com/full/6268912.jpg");
    background-position: center;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.Citytitle{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}
.formHotel{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 65rem;
    height: 35rem;
}

.formCity{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	border-radius: 5px;
	background: #1f130c;
    opacity: 0.8;
    border: solid 4px grey;
	border-radius: 1rem;
}
.CityTitle{
    display: flex;
    font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	font-size: 3.5em;
	margin-top: 1%;
} 
.form__input{
    display: flex;
    border-radius: 3em;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.form-Citybody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    font-family: 'Playfair Display', serif;
	font-size: 3.5em;
    gap: 1rem;
}
.submit2{
    width: 60%;
    height: 3rem;
    border-radius: 3em;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.485);
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
    border: solid 5px black;
}