*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 215, 220);
}

.slider-slider {
    width: 85vw;
    height: calc(90vh - 1.5rem);
    border-radius:5px 5px 5px 5px;

}

.slider-slider {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1px;
    border-radius:5px 5px 5px 5px;

}

.slider-event {
    border-radius:5px 5px 5px 5px;
    width: 50%;
    height: 50%;
    padding: 5px;
}

.slider-image {
    object-fit: cover;
    height: calc(90% - 1.5rem);
    width: 100%;
    border-radius:51px 51px 51px 51px;

}

.slider-text {
    height: 2rem;
    font-size: 1.5rem;
    text-decoration: dotted;
    background-color: rgba(156, 5, 113, 0.591);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:5px 5px 5px 5px;
    text-shadow: 1px 1px rgba(231, 13, 173, 0.27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   


}
.slider-text{
    margin-bottom: -20px;
    background-color:rgba(205, 52, 169, 0.378);
    margin: 11px;
}

@media screen and (max-width: 768px){
    
    slider{
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
